@model SFSAcademy.Models.NewsComments

@if (Model != null)
{
    if (Model.EnableNewsCommentModeration == "1")
    {
        bool isAuthor = false;
        if (ViewBag.current_user == Model.AddedByUserId)
        {
            isAuthor = true;
        }

        if (isAuthor || ViewBag.isModerator || Model.isApproved == "Y")
        {
            <li id="comment-item- @Model.commentId">
                <div class="comment-details">
                    <div class="commenter">@Model.commentAddedBy</div>

                    @{
                        if (isAuthor || ViewBag.isModerator)
                        {
                            <div class="delete-comment">
                                @Html.ActionLink("delete_text", "delete_comment", new { id = Model.commentId }, new { @click = "return confirm('are you sure?')" })
                            </div>

                        }
                    }

                    @{
                        if (Model.commentAddedBy != null)
                        {
                            <div class="comment-posted-at">posted on : @Model.commentAddedDate</div>
                        }
                        else
                        {
                            <div class="comment-posted-at">User Deleted</div>
                        }
                    }

                    <div class="approve">
                        @{
                            if (!ViewBag.isModerator && Model.isApproved != "Y" && isAuthor)
                            {
                                @*@Html.DisplayFor(modelItem => "waiting_to_approve")*@
                                @Html.Label("lblwaiting", "waiting_to_approve")
                                @Html.Display("waiting_to_approve", "waiting_to_approve")
                            }

                            if (ViewBag.isModerator && Model.isApproved != "Y")
                            {
                                @Html.DisplayFor(modelItem => "waiting_to_approve")
                                @Html.ActionLink("approve", "comment_approved", new { id = Model.commentId })
                            }
                        }
                    </div>
                </div>
                <div class="comment-content">@Model.commentContent</div>

            </li>
                            }
                            else
                            {
                                <li id="comment-item- @Model.commentId">

                                    <div class="comment-details">
                                        @{
                                            if (Model.commentAddedBy != null)
                                            {
                                                <div class="commenter">@Model.commentAddedBy</div>
                                            }
                                            else
                                            {
                                                <div class="commenter">User Deleted</div>
                                            }

                                            if (ViewBag.isAdminUser == "Y")
                                            {
                                                if (isAuthor || ViewBag.isModerator)
                                                {
                                                    @Html.ActionLink("delete_text", "delete_comment", new { id = Model.commentId }, new { @click = "return confirm('are you sure?')" })
                                                }
                                            }
                                            if (Model.commentAddedBy != null)
                                            {
                                                <div class="comment-posted-at">posted on : @Model.commentAddedDate</div>
                                            }
                                            else
                                            {
                                                <div class="comment-posted-at">User Deleted</div>
                                            }
                                        }

                                    </div>
                                    <div class="comment-content">@Model.commentContent</div>
                                </li>
                                    }
                                }
                            }
