@model SFSAcademy.Models.NewsDetails
@{
    ViewBag.Title = "view";
}

<div id="content-header">
    <img src="~/Content/images/show_news/show_news_logo.png" alt="News Logo">
    <h1>News Text</h1>
    <h3>Read News</h3>
    <div id="app-back-button">
        <a href='javascript:history.back()' onclick="return confirm('are you sure?')"><img src="~/Content/images/buttons/back.png"></a>
    </div>
</div>
<div><img src="~/Content/images/_global/header_underline_.jpg" style="width:100%"></div>

<div id="page-yield">
    @if (ViewBag.ErrorMessage != null)
    {
        <p class="flash-msg"> @ViewBag.ErrorMessage </p>
    }

    <div id="news_title">
        @Html.DisplayFor(modelItem => Model.newsTitle)
    </div>

    <div id="create_date" class="themed_text">
        Posted On :  @Html.DisplayFor(modelItem => Model.newsCreatedDate)
    </div>

    <div id="news_content">
        @Html.DisplayFor(modelItem => Model.newsContent)
    </div>

    @if (ViewBag.isModerator || Model.isUserAdmin == "Y")
    {
        @Html.ActionLink(" ► Edit News", "edit", new { id = Model.newsId }, new { @class = "edit_button user_button" })

        @Html.ActionLink(" ► Delete News", "delete", new { id = Model.newsId }, new { @class = "delete_button user_button", @click = "return confirm('are you sure?')" })

        <div class="extender"></div>
    }
   
    <h3 id="comments-heading">Comments</h3>

    @if (Model.newsCommentCount == 0)
    {
        <span id="comments-count">No Comments</span>
    }
    else
    {
        <span id="comments-count">@Model.newsCommentCount </span>
    }

    <ul id="comments-list">
        @*<% @comments.each do |@cmnt| %>
            <%= render :partial => "comment" %>
            <% end %>*@

        @foreach (var comment in Model.commentList)
        {
            @Html.Partial("_comment", comment)
        }
    </ul>

    <h4 id="leave-a-comment">Leave Comment</h4>

    <form name="comments-form" id="comments-form">
        @using (Html.BeginForm("add_comment", "news", FormMethod.Post))
        {
            @Html.Hidden("newsId",Model.newsId)
            <p>
                @Html.TextArea("comments", null,5,110, new { @class = "form-control",@id="txtcomments"  })
                <input type="submit" value="► Submit", class = "edit_button user_button" />
                @*@Html.ActionLink(" ► Edit News", "edit", new { id = Model.newsId }, new { @class = "edit_button user_button" })*@
            </p>
        }
    </form>

</div>
